html {
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
}


body {
    background-color: skyblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}


h1,h2,h3,h4 {
    font-family: 'PT Sans', sans-serif;
} h1 {
    color: red;    
    font-size: 4rem;
} h2 {
    font-size: 3rem;
    line-height: 1;
} h3 {
    font-size: 2rem;
} h4 {
    color: white;
    font-size: 2rem;
}


/* Navegación */
.navegacion a {
    display: block;
    font-size: 2rem;
    color: blue;
    text-decoration: none;
}


/*------------------------------*/
.contacto {
    color: white;
    max-width: 1200px;
    margin: 3rem auto;
    background-color: black;
    padding: 3rem;
    border-radius: 1rem;
 }


/*------------------------------*/
.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.campo label {
    flex: 0 0 90px;
    padding-top: .5rem;
    color: white;
}

.campo input {
    flex: 1;
    height: 4rem;
}

.campo textarea {
    flex: 1;
    height: 6rem;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}


/*------------------------------*/
.boton {
    background-color: red;
    padding: 1rem 5rem;
    display: inline-block;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2rem;
    border-radius: .5rem;
    border: none;
}

.boton:hover {
    cursor: pointer;
}


/*------------------------------*/
form {
    line-height: 1.5;
    background-color: gray;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
}

form legend {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: White;
    margin: 3rem 0;

}


/* Footer */
.site-footer {
    background-color: black;
    padding: 3rem;
    margin-top: 4rem;
}
