html {
    box-sizing: border-box;
    font-size: 60%;
}


body {
    background-color: skyblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}


h1,h2,h3,h4 {
    font-family: 'PT Sans', sans-serif;
} h1 {
    color: red;    
    font-size: 4rem;
} h2 {
    font-size: 3rem;
    line-height: 1;
} h3 {
    font-size: 2rem;
} h4 {
    color: white;
    font-size: 2rem;
}


/* Navegación */
.navegacion a {
    display: block;
    font-size: 2rem;
    color: blue;
    text-decoration: none;
}

.boton {
    background-color: red;
    padding: 1rem 5rem;
    display: inline-block;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2rem;
    border-radius: .5rem;
    border: none;
}

form {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
}

form legend {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--primario);
    margin: 3rem 0;
}



/* Footer */
.site-footer {
    background-color: yellow;
    padding: 3rem;
    margin-top: 4rem;
}